@model JobPortals.Areas.Administrator.Models.SmallButtonModel
@using JobPortals.Areas.Administrator.Models;

<td style="width:120px;">
    <div class="btn-group" role="group">
        @Html.Partial("_SmallButtonPartial",
       new SmallButtonModel
       {
           Action = "Edit",
           ButtonType = "btn-primary",
           Glyph = "pencil",
           Text = "Edit button",
           Id = Model.Id,
           JobseekerId = Model.JobseekerId,
           CompanyRegId = Model.CompanyRegId,
           VacancyId = Model.VacancyId,
           //UserId = Model.UserId
       })
        
        @Html.Partial("_SmallButtonPartial",
                new SmallButtonModel
                {
                    Action = "Details",
                    ButtonType = "btn-success",
                    Glyph = "list",
                    Text = "Detail button",
                    Id = Model.Id,
                    JobseekerId = Model.JobseekerId,
                    CompanyRegId = Model.CompanyRegId,
                    VacancyId = Model.VacancyId,
                    //UserId = Model.UserId
                })
       
        @Html.Partial("_SmallButtonPartial",
       new SmallButtonModel
       {
           Action = "Delete",
           ButtonType = "btn-danger",
           Glyph = "trash",
           Text = "Delete button",
           Id = Model.Id,
           JobseekerId = Model.JobseekerId,
           CompanyRegId = Model.CompanyRegId,
           VacancyId = Model.VacancyId,
           //UserId = Model.UserId
       })
    </div>
</td>
